<app-loading [queryResult]="queryResult">
    <md-toolbar [color]=" 'primary' ">
        <h1 class="title">{{title}}</h1>
        <!-- Just using ngIf for convenience to get the non-async rooms -->
        <div *ngIf="roomsObs | async as rooms">
            <md-select [formControl]="selectedRmCtrl">
                <md-option
                    *ngFor="let room of rooms"
                    [value]="room.id">{{room.title}}</md-option>
            </md-select>
        </div>
    </md-toolbar>
    <app-room [roomId]="selectedRoomId"></app-room>
</app-loading>